body {
	margin: 0;
	font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', 'Helvetica', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
	color: white;
	--background: lightgrey;
}

// <======================>> togler °c to °f <<======================>
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 80px; /* Augmenter la largeur pour le texte */
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 34px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

//add label
.slider::before {
	content: '°C';
	position: absolute;
	left: 10px;
	color: black;
}

.slider::after {
	content: '°F';
	position: absolute;
	right: 10px;
	color: white;
}

.slider span {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	border-radius: 50%;
	transition: 0.4s;
}

input:checked + .slider span {
	transform: translateX(46px);
}

input:checked + .slider::before {
	color: white;
}

input:checked + .slider::after {
	color: black;
}

// <======================>> main section <<======================>

main {
	display: grid;
	padding: 1vh 1vw;
	gap: 1vh 1vw;
	grid-template: 3fr 2fr;
	height: 90vh;
	.summarized {
		grid-row: 1;
		grid-column: 1 / 3;
		border-radius: 2vh;
		background-color: var(--background);
		height: 28vh;
		color: black;

		.information {
			display: flex;
			justify-content: space-around;

			div div:nth-child(1) {
				font-size: 2em;
			}

			.weather {
				height: 4em;
				width: 4em;
			}
		}

		.pastWeather {
			display: flex;
			align-items: center;
			justify-content: space-around;
			gap: 1vw;
			> div {
				border: black solid 1px;
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			img {
				height: 4em;
				width: 4em;
			}
		}
	}

	#map {
		grid-row: 1;
		grid-column: 3;
		height: 28vh;
		width: cal(30vh - 2vw);
		border-radius: 2vh;
	}

	.Overview {
		grid-row: 2;
		grid-column: 2 / 4;
		border-radius: 2vh;
		height: 60vh;
		width: 68vw;
		background-color: var(--background);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.recent {
		background-color: var(--background);
		border-radius: 2vh;
		height: 58vh;
		width: 26vw;
		padding: 1vh 1vw;

		.recentItem {
			display: flex;
			justify-content: space-between;
			.star {
				height: 3em;
				aspect-ratio: 1;
				background: white;
				border: none;
				clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
			}
		}
	}
}
