body {
  margin: 0;
  overflow-x: hidden;
  font-family: "fira";
}

@font-face {
  font-family: "sofia-pro";
  src: url("Assets/SofiaProRegular.ttf");
}

@font-face {
  font-family: "fira";
  src: url("Assets/FiraMono-Regular.otf");
}

a {
  text-decoration: none;
  color: black;
}

.centerText {
  text-align: center;
}

/* -----------------------nav----------------------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
}
.socialnetworksContainer {
  display: flex;
  gap: 2vw;
}
.socialnetworksImg {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}

.navRight {
  display: flex;
  gap: 5vw;
  height: 2vw;
}

.navLink {
  display: flex;
  align-items: center;
  height: 2vw;
}

.navLink:hover {
  border-bottom: black solid 2px;
}

.socialnetworksImg:hover {
  opacity: 0.5;
}

.actualnav {
  border-bottom: darkblue solid 2px;
}
/* -----------------------homeGardent----------------------- */
.homeGardent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  background: linear-gradient(to left, #e41937, #5236ab);
  color: white;
}

.HomeTitle {
  font-size: 10em;
  width: 35%;
  text-align: center;
}

.homeText {
  font-size: 4em;
  width: 35%;
}

/* -----------------------trust----------------------- */
.trust {
  padding: 2vh;
  padding-top: 6vh;
  background: linear-gradient(to left, #ebebeb, #f5f5f5);
}

.trustContainer {
  height: 150px;
  margin-bottom: 30px;
}
.trustBoxBottom,
.trustBoxTop {
  position: absolute;
  background-color: white;
  border-radius: 20px;
  height: 140px;
  width: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trustBoxImage {
  max-height: 140px;
  max-width: 345px;
}

/* -----------------------activity----------------------- */

.activity {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2vw;
  padding: 3vw;
  background: linear-gradient(to right, #ebebeb, #f5f5f5);
}

.activityIndustrie,
.activityEnergy,
.activityShipping {
  width: 43vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: white;
}

.activityother {
  width: 43vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 20px;
  background-color: white;
}

.activityotherImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.activityotherImg:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

img.activityotherImg:nth-child(2) {
  border-top-right-radius: 20px;
}

img.activityotherImg:nth-child(3) {
  border-bottom-right-radius: 20px;
}

.activityTitle {
  font-size: 4em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activityDescContainer {
  display: flex;
  gap: 1vw;
  font-size: 1.8em;
}

.activityText {
  font-size: 0.8em;
  margin-right: 2vh;
  font-family: "sofia-pro";
}

.activityImg {
  object-fit: cover;
  width: 21vw;
  height: 100%;
  border-bottom-left-radius: 20px;
}
/* -----------------------whoAreWe----------------------- */
.whoAreWe {
  background: linear-gradient(to right, #ebebeb, #f5f5f5);
}
.whoAre {
  display: flex;
  align-items: center;
  padding: 2vh;
  background-color: white;
  border-radius: 10px;
}

.whoAreContainer {
  width: calc(100% - 10vh);
  display: flex;
  justify-content: center;
  gap: 10vw;
  padding: 2vw 5vh;
}

.whoAreText {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 2em;
  width: 50%;
  margin: auto;
  padding: 2vh;
  text-align: center;
}

/*----------------------------------------------------*/

/*engagement.html*/

.header-climat{
  background-image: url("Assets/iceberg.jpg");
}

.climat, .valeurs {
  backdrop-filter: blur(20px);
  width: fit-content;
  border-radius: 5em;
  padding:50px;
}

.main-climat{
  display: flex;
  flex-direction: column;
  margin:0;
}

.main-climat div section, .main-climat .div2 section{
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.main-climat div{
  display: flex;
  margin: 2em;
  margin-right: 2em;
}

.main-climat .div2 {
  flex-direction: row-reverse;
}

.main-climat section div{
  padding: 10em;
}

/*---------------------footer----------------------*/

footer a {
  font-weight: normal;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  width: 90vw;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
  background-color: white;
}

.footerLeft,
.footerRight {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

/*---------------------legal----------------------*/
.underLigne {
  text-decoration: underline;
}

.legalFooter {
  position: absolute;
  bottom: 0px;
}

.legalPage {
  background: linear-gradient(to right, #ebebeb, #f5f5f5);
}

.legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.legalElement {
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  background-color: white;
  border-radius: 10px;
  width: 75%;
}

/*----------------------------------------------------*/

/*valeurs.html*/

header{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding: 20vh 17vh;
}
  
.header-valeurs{
  background-image: url("Assets/valeurs.jpg");
}

.main-valeurs{
  display: flex;
  flex-direction: column;
}

.main-valeurs div{
  display: flex;
  padding-left: 40%;
}

.main-valeurs div:first-child{
  background-color: black;
}

.main-valeurs div:nth-child(2){
  background-color: #5D5955;
}

.main-valeurs div:nth-child(3){
  background-color: #ad0104;
}

.main-valeurs div:nth-child(4){
  background-color: #39393B;
}

.main-valeurs div:last-child{
  background-color: #B49D85;
}

.main-valeurs div h2, .main-valeurs div p{
  color:white;
  border: none;
}

.main-valeurs div p{
  display: flex;
  flex-basis: 40%;
  padding: 0.8em;
  margin-top: 10vh;
}

/*---------------------form----------------------*/
.formPage {
  display: flex;
  justify-content: center;
}
input,
textarea {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.formPage h1{
  text-align:center;
}

background-color: linear-gradient(to left, #e41937, #5236ab);


textarea {
  padding-right: 200px;
}

#email:valid {
  background-color: green;
}

#email:invalid:not(:placeholder-shown) {
  border-color: tomato;
  background-color: red;
}

#envoi {
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: rgba(29, 175, 181, 0.799);
  margin-top: 10px;
  padding-right: 180px;
  padding-left: 180px;
  padding-top: 15px;
  text-align: center;
}

/*---------------------InnovativeServices----------------------*/

main.Services {
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
}
/*Sert pour tous les textes */
p.desc {
  font-size: 1.4em;
  padding: 2vh;
  border: 0.2em solid gray;
}

.InnovService {
  background-image: url("Assets/NosServicesInnovants.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  padding: 20vh 17vh;
}

.InnovServiceText {
  margin: 0;
  padding: 2em;
  border-radius: 5em;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
}

#AutresServices {
  background-image: url("Assets/AutresServices.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  padding: 20vh 17vh;
}

#AutresServicesText {
  margin: 0;
  padding: 2em;
  border-radius: 5em;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
}

.BlocInfos {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.BlocInfos div {
  margin: 2vh;
  margin-right: 2vh;
  border: 1px solid black;
}

.BlocInfos div section {
  display: flex;
}

.BlocInfos section div {
  padding: 3vh;
}

.BlocInfos img {
  width: 45vh;
  align-self: center;
}

div.otherServicesBox:nth-child(1) {
  background-image: url("Assets/CGIMaEVA.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.otherServicesBox:nth-child(2) {
  background-image: url("Assets/DynamicProcess360.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.otherServicesBox:nth-child(3) {
  background-image: url("Assets/Cloud&ITmodernization.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.otherServicesBox:nth-child(4) {
  background-image: url("Assets/GestionProcessusAffaires.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.otherServicesBox:nth-child(5) {
  background-image: url("Assets/Cybersecurite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.otherServicesBox:nth-child(6) {
  background-image: url("Assets/TransformationNumerique.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.otherServicesBox:nth-child(7) {
  background-image: url("Assets/CGIRetailSuite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.otherServicesBoxInner {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.responsive {
  object-fit: cover;
  object-position: right;
}

@media screen and (max-width: 1000px) {
  /*---------------------activity--------------------- */
  .activity {
    display: flex;
    flex-direction: column;
  }
  .activityother,
  .activityIndustrie,
  .activityEnergy,
  .activityShipping {
    width: 90vw;
  }
  .activityother,
  .activityImg {
    display: none;
  }

  .activityText {
    margin-left: 2vh;
  }

  /*---------------------whoAreWe--------------------- */
  .whoAreContainer {
    flex-direction: column;
    gap: 5vh;
  }
}
